/* In your global CSS file or a specific component CSS file */
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2px);
    }
}

.animate-bounce {
    animation: bounce 1s infinite;
}

.dot {
    animation: bounce 1s infinite;
}

/* Delay for the other dots */
.delay-200 {
    animation-delay: 0.2s;
}

.delay-400 {
    animation-delay: 0.4s;
}


@font-face {
    font-family: 'Afacad';
    src: url('/fonts/Afacad-Bold.ttf') format('truetype');
    font-weight: 700; /* Adjust based on font weights available */
    font-style: normal; /* Adjust if italic is available */
}
