/* In your global CSS file or a specific component CSS file */
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2px);
    }
}

.animate-bounce {
    animation: bounce 1s infinite;
}

.dot {
    animation: bounce 1s infinite;
}

/* Delay for the other dots */
.delay-200 {
    animation-delay: 0.2s;
}

.delay-400 {
    animation-delay: 0.4s;
}


@font-face {
    font-family: 'Afacad';
    src: url('/fonts/Afacad-Bold.ttf') format('truetype');
    font-weight: 700; /* Adjust based on font weights available */
    font-style: normal; /* Adjust if italic is available */
}

@keyframes glow {
    0% {
      box-shadow: 0 0 4px rgba(34, 197, 94, 0.3), 0 0 8px rgba(34, 197, 94, 0.2), 0 0 12px rgba(34, 197, 94, 0.1);
    }
    50% {
      box-shadow: 0 0 6px rgba(34, 197, 94, 0.6), 0 0 12px rgba(34, 197, 94, 0.4), 0 0 18px rgba(34, 197, 94, 0.3);
    }
    100% {
      box-shadow: 0 0 4px rgba(34, 197, 94, 0.3), 0 0 8px rgba(34, 197, 94, 0.2), 0 0 12px rgba(34, 197, 94, 0.1);
    }
  }
  
  .glow-effect {
    animation: glow 1.5s ease-in-out infinite;
  }
  

  @keyframes red-glow {
    0% {
      box-shadow: 0 0 4px rgba(239, 68, 68, 0.3), 0 0 8px rgba(239, 68, 68, 0.2), 0 0 12px rgba(239, 68, 68, 0.1);
    }
    50% {
      box-shadow: 0 0 6px rgba(239, 68, 68, 0.6), 0 0 12px rgba(239, 68, 68, 0.4), 0 0 18px rgba(239, 68, 68, 0.3);
    }
    100% {
      box-shadow: 0 0 4px rgba(239, 68, 68, 0.3), 0 0 8px rgba(239, 68, 68, 0.2), 0 0 12px rgba(239, 68, 68, 0.1);
    }
  }
  
  .glow-effect-red {
    animation: red-glow 1.5s ease-in-out infinite;
  }

  
  .red-glow-effect {
    animation: red-glow 1.5s ease-in-out infinite;
  }